@model Utility.Entity
@using Dolphin.Controllers
@using Dolphin.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dolphin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome-font-awesome.min.css">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>


<body>
    <div class="wrapper">
        <header id="myHeader" style=" position: sticky; " class="sticky">
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="index.html" title=""><img src="~/img/Logo Progetto 5.jpg" style="border-radius: 50%;" alt=""></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                        <form name="input" action="/Home/UserListLike/valore" method="get">
                            <input id="input" type="text" name="valore" placeholder="Cerca su Dolphin">
                            <button type="submit"><i class="la la-search"></i></button>
                        </form>
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/Home/Bacheca/" title="">
                                    <span><img src="~/img/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/Home/UserList/" title="">
                                    <span><img src="~/img/icon4.png" alt=""></span>
                                    Lista Utenti
                                </a>

                            </li>
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/img/icon7.png" alt=""></span>
                                    Notifiche
                                    @if (DAORichiestaAmicizia.GetInstance().ReadRichiestaAmicizia(HomeController.utenteLoggato.Id).Count > 0)
                                    {
                                        <span class="badge badge-light">@(DAORichiestaAmicizia.GetInstance().ReadRichiestaAmicizia(HomeController.utenteLoggato.Id).Count)</span>

                                    }
                                </a>
                                <div class="notification-box noti" id="notification">
                                    @foreach (var e in DAORichiestaAmicizia.GetInstance().ReadRichiestaAmicizia(HomeController.utenteLoggato.Id))
                                    {
                                        <div class="nott-list">
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    <img src="@(((RichiestaAmicizia)e).FotoProfilo)" alt="">
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a title="">@(((RichiestaAmicizia)e).Nome) @(((RichiestaAmicizia)e).Cognome) </a>Ti ha inviato una richiesta di amicizia</h3>
                                                </div>
                                                <div>
                                                    <a href="/Home/AccettaRichiestaAmicizia/?idRichiesta=@(((RichiestaAmicizia)e).Id)&idRichiedente=@(((RichiestaAmicizia)e).IdRichiedente)&idAccettante=@(HomeController.utenteLoggato.Id)" title="" class="btn btn-success">Accetta</a>
                                                    <a href="/Home/RifiutaRichiestaAmicizia/?idRichiesta=@(((RichiestaAmicizia)e).Id)" title="" class="btn btn-danger" style="background-color:red;">Rifiuta</a><!--vedere come cambiare colore in rosso-->
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src="@HomeController.utenteLoggato.FotoProfilo" style="width: 30px; height:30px;" alt="">
                            <a href="#" title="">@HomeController.utenteLoggato.Nome</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss" id="users" style="z-index:-1;">
                            <ul class="us-links">
                                <li><a href="profile-account-setting.html" title="">Impostazioni Account</a></li>
                            </ul>
                            <h3 class="tc"><a href="/Home/Logout/" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->


        <section class="cover-sec" style=" position: static; padding-left: 14%; ">
            <img src="@(((Utente)Model).Copertina)" style="width:1600px; height:400px;" alt="">
        </section>


        <main>
            <div class="main-section">
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="main-left-sidebar">
                                    <div class="user_profile">
                                        <div class="user-pro-img">
                                            <img src="@(((Utente)Model).FotoProfilo)" style="width:170px; heigth:170px;" alt="">
                                        </div><!--user-pro-img end-->
                                        <div class="user_pro_status">
                                            <ul class="flw-hr">
                                                <!--<li><a href="#" title="" class="flww"><i class="la la-plus"></i> Follow</a></li> -->
                                            </ul>
                                            <ul class="user-fw-status">
                                                <li>
                                                    <h4>Amici</h4>
                                                    <span>@(((Utente)Model).ListaAmicizie.Count)</span>
                                                </li>

                                            </ul>
                                        </div><!--user_pro_status end-->
                                        <ul class="social_links">
                                            <li><a href="#" title=""><i class="la la-globe"></i> @(((Utente)Model).Email)</a></li>
                                            <li><a href="#"><i class="fas fa-phone"></i> @(((Utente)Model).Telefono)</a></li>
                                        </ul>
                                    </div><!--user_profile end-->

                                </div><!--main-left-sidebar end-->
                            </div>
                            <div class="col-lg-6">
                                <div class="main-ws-sec">
                                    <div class="user-tab-sec">
                                        <h3>@(((Utente)Model).Nome) @(((Utente)Model).Cognome)</h3>
                                    </div><!--user-tab-sec end-->
                                    <div class="product-feed-tab current" id="feed-dd">
                                        <div class="posts-section">
                                            

                                            @foreach (var p in ((Utente)Model).ListaPost)
                                            {
                                                <div class="post-bar">
                                                    <div class="post-bar no-margin">
                                                        <div class="post_topbar">
                                                            <div class="usy-dt">
                                                                <img src="@(((Post)p).FotoProfilo)" style="height:50px; width:50px;" alt="">
                                                                <div class="usy-name">
                                                                    <h3>@(((Post)p).Nome) @(((Post)p).Cognome)</h3>
                                                                    <span><img src="~/img/clock.png" alt="">@(((Post)p).Data_Ora)</span>
                                                                </div>
                                                            </div>
                                                            @if (HomeController.utenteLoggato.Ruolo == "admin")
                                                            {
                                                                <div class="ed-opts">
                                                                    <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                                    <ul class="ed-options">
                                                                        <li><a href="/Home/EliminaPost/@(((Post)p).Id)" onsubmit="return confirm('Sei sicuro di voler eliminare il post?');" title="">Elimina Post</a></li>
                                                                    </ul>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="job_descp">
                                                            <p>@(((Post)p).ContenutoPost)</p>
                                                        </div>
                                                        <div class="job-status-bar">
                                                            <ul class="like-com">
                                                                <li>
                                                                    <a href="/Home/NuovoLike/@(((Post)p).Id)"><i class="fas fa-heart"></i> Mi piace @(((Post)p).MiPiacePosts.Count) </a>

                                                                </li>
                                                                <li><a href="#"><i class="fas fa-comment-alt"></i> Commenti @(DAOCommento.GetInstance().ReadCommenti((((Post)p).Id)).Count)</a></li>
                                                            </ul>
                                                        </div>
                                                    </div><!--post-bar end-->
                                                    <div class="comment-section">
                                                        <div class="comment-sec">


                                                            <ul>
                                                                <li>
                                                                    @foreach (var g in DAOCommento.GetInstance().ReadCommenti((((Post)p).Id)))
                                                                    {
                                                                        <div class="comment-list">
                                                                            <div class="bg-img">
                                                                                <img src="@(((Commento)g).FotoProfilo)" style="width:50px; height:50px;" alt="">
                                                                            </div>
                                                                            <div class="comment">
                                                                                <h3>@(((Commento)g).Nome) @(((Commento)g).Cognome) </h3>
                                                                                <span><img src="~/img/clock.png" alt="">@(((Commento)g).Data_Ora) </span>
                                                                                <p>@(((Commento)g).ContenutoCommento)</p>
                                                                            </div>
                                                                        </div><!--comment-list end-->
                                                                    }
                                                                </li>
                                                            </ul>

                                                        </div><!--comment-sec end-->
                                                        <div class="post-comment">
                                                            <div class="cm_img">
                                                                <img src="@(HomeController.utenteLoggato.FotoProfilo)" alt="">
                                                            </div>
                                                            <div class="comment_box">
                                                                <form action="/User/InserisciCommento/">
                                                                    <input type="hidden" name="idpost" value="@(((Post)p).Id)" />
                                                                    <input type="hidden" name="idutente" value="@(HomeController.utenteLoggato.Id)" />
                                                                    <input type="hidden" name="data_ora" value="2022-10-06 10:57:00" />
                                                                    <input type="text" name="contenutocommento" placeholder="Scrivi un commento">
                                                                    <button type="submit">Invia</button>
                                                                </form>
                                                            </div>
                                                        </div><!--post-comment end-->
                                                    </div><!--comment-section end-->
                                                </div><!--post-bar end-->

                                            }
                                            <div style="background-color:white; "></div>



                                        </div><!--posts-section end-->
                                    </div><!--product-feed-tab end-->

                                    <div class="product-feed-tab" id="portfolio-dd">
                                        <div class="portfolio-gallery-sec">
                                            <h3>Portfolio</h3>
                                            <div class="gallery_pf">
                                                <div class="row">

                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                                                    </div>
                                                </div>
                                            </div><!--gallery_pf end-->
                                        </div><!--portfolio-gallery-sec end-->
                                    </div><!--product-feed-tab end-->
                                </div><!--main-ws-sec end-->
                            </div>
                            <div class="col-lg-3">
                                <div class="right-sidebar">
                                    <div class="message-btn">
                                        @{ bool ris = false;}
                                        @{ bool ris2 = false;}
                                        @foreach (var x in DAOAmicizia.GetInstance().ReadDef())
                                        {
                                            @if (HomeController.utenteLoggato.Id == ((Amicizia)x).IdUtente || HomeController.utenteLoggato.Id != ((Amicizia)x).IdUtente)
                                            {
                                                if (((((Utente)Model).Id) == ((Amicizia)x).IdUtente2 && HomeController.utenteLoggato.Id == ((Amicizia)x).IdUtente) || ((((Utente)Model).Id) == ((Amicizia)x).IdUtente && HomeController.utenteLoggato.Id == ((Amicizia)x).IdUtente2))
                                                {
                                                    //<a href="" title=""><i class="fa fa-user-minus"></i> Elimina amico</a>
                                                    ris = true;
                                                    break;
                                                }
                                                else
                                                {
                                                    ris = false;
                                                }

                                            }

                                        }

                                        @foreach (var z in DAORichiestaAmicizia.GetInstance().Read())
                                        {
                                            if (HomeController.utenteLoggato.Id == (((RichiestaAmicizia)z).IdRichiedente) && (((Utente)Model).Id) == (((RichiestaAmicizia)z).IdRicevente))
                                            {
                                                ris2 = true;
                                            }
                                        }
                                        @if (ris)
                                        {
                                            <a href="" title=""><i class="fa fa-user-minus"></i> Elimina amico</a>

                                        }
                                        else
                                        {
                                            if (ris2)
                                            {
                                                <a href="#" title=""><i class="fa fa-user-plus"></i> Richiesta Inviata</a>

                                            }
                                            else
                                            {
                                                <a href="/User/RichiediAmicizia/?idRichiedente=@(HomeController.utenteLoggato.Id)&idAccettante=@(((Utente)Model).Id)" title=""><i class="fa fa-user-plus"></i> Aggiungi Amico</a>

                                            }

                                        }


                                    </div>
                                    <div class="widget widget-portfolio">

                                        <div class="suggestions full-width">
                                            <div class="sd-title">
                                                <h3>Amici</h3>
                                                <i class="la la-ellipsis-v"></i>
                                            </div><!--sd-title end-->
                                            <div class="suggestions-list">
                                                @foreach (var m in ((Utente)Model).ListaAmicizie)
                                                {
                                                    <div class="suggestion-usd">
                                                        <img src="@(((Amicizia)m).FotoProfilo)" style="width:50px; height:50px;" alt="">
                                                        <div class="sgt-text">
                                                            <h4>@(((Amicizia)m).Nome) @(((Amicizia)m).Cognome)</h4>
                                                        </div>
                                                    </div>
                                                }



                                            </div><!--suggestions-list end-->
                                        </div><!--suggestions end-->
                                    </div>
                                </div><!--widget-portfolio end-->
                            </div><!--right-sidebar end-->
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div>
    </div>
    </main>


    <footer>
        <div class="footy-sec mn no-margin">
            <div class="container">
                <ul>
                    <li><a href="help-center.html" title="">Help Center</a></li>
                    <li><a href="about.html" title="">About</a></li>
                    <li><a href="#" title="">Privacy Policy</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                    <li><a href="#" title="">Cookies Policy</a></li>
                    <li><a href="#" title="">Career</a></li>
                    <li><a href="forum.html" title="">Forum</a></li>
                    <li><a href="#" title="">Language</a></li>
                    <li><a href="#" title="">Copyright Policy</a></li>
                </ul>
                <p><img src="~/img/copy-icon2.png" alt="">Copyright 2022</p>
                <img src="~/img/Logo Progetto 5.jpg" style="width:77px; heigth:100px;" alt="">
            </div>
        </div>
    </footer>


    <div class="overview-box" id="create-portfolio">
        <div class="overview-edit">
            <h3>Create Portfolio</h3>
            <form>
                <input type="text" name="pf-name" placeholder="Portfolio Name">
                <div class="file-submit">
                    <input type="file" name="file">
                </div>
                <div class="pf-img">
                    <img src="~/img/resources/np.png" alt="">
                </div>
                <input type="text" name="website-url" placeholder="htp://www.example.com">
                <button type="submit" class="save">Save</button>
                <button type="submit" class="cancel">Cancel</button>
            </form>
            <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
        </div><!--overview-edit end-->
    </div><!--overview-box end-->
    </div><!--theme-layout end-->


    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/popper.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="~/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/js/scrollbar.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script>window.onscroll = function () { myFunction() };

        var header = document.getElementById("myHeader");
        var image = document.getElementById("imageID");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                image.classList.add("sticky2");
            } else {
                header.classList.remove("sticky");
                image.classList.remove("sticky2");
            }
        }</script>
</body>
</html>