@model List<Utility.Entity>
@using Dolphin.Models
@using Dolphin.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dolphin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome-font-awesome.min.css">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>

<body>
    <div class="wrapper">
        <header id="myHeader" style=" position: sticky; ">
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="index.html" title=""><img src="~/img/Logo Progetto 5.jpg" style="border-radius: 50%;" alt=""></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                        <form>
                            <input type="text" name="search" placeholder="Cerca...">
                            <button type="submit"><i class="la la-search"></i></button>
                        </form>
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/Home/Bacheca/" title="">
                                    <span><img src="~/img/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/Home/UserList/" title="">
                                    <span><img src="~/img/icon4.png" alt=""></span>
                                    Lista Utenti
                                </a>

                            </li>
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/img/icon7.png" alt=""></span>
                                    Notifiche
                                    @if (DAORichiestaAmicizia.GetInstance().ReadRichiestaAmicizia(HomeController.utenteLoggato.Id).Count > 0)
                                        {
                                        <span class="badge badge-light">@(DAORichiestaAmicizia.GetInstance().ReadRichiestaAmicizia(HomeController.utenteLoggato.Id).Count)</span>

                                        }
                                </a>
                                @foreach (var e in DAORichiestaAmicizia.GetInstance().ReadRichiestaAmicizia(HomeController.utenteLoggato.Id))
                                    {
                                    <div class="notification-box noti" id="notification">
                                        <div class="nott-list">
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    <img src="@(((RichiestaAmicizia)e).FotoProfilo)" alt="">
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a title="">@(((RichiestaAmicizia)e).Nome) @(((RichiestaAmicizia)e).Cognome) </a>Ti ha inviato una richiesta di amicizia</h3>
                                                </div>
                                                <div>
                                                    <a href="/Home/AccettaRichiestaAmicizia/?idRichiesta=@(((RichiestaAmicizia)e).Id)&idRichiedente=@(((RichiestaAmicizia)e).IdRichiedente)&idAccettante=@(HomeController.utenteLoggato.Id)" title="" class="follow">Accetta</a>
                                                    <a href="/Home/RifiutaRichiestaAmicizia/?idRichiesta=@(((RichiestaAmicizia)e).Id)" title="" class="danger" style="background-color:red;">Rifiuta</a><!--vedere come cambiare colore in rosso-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src="@HomeController.utenteLoggato.FotoProfilo" style="width: 30px; height:30px;" alt="">
                            <a href="#" title="">@HomeController.utenteLoggato.Nome</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss" id="users" style="z-index:-1;">
                            <ul class="us-links">
                                <li><a href="/User/ModificaProfilo2/@(HomeController.utenteLoggato.Id)" title="">Impostazioni Account</a></li>
                            </ul>
                            <h3 class="tc"><a href="/Home/Logout/" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->

        <section class="companies-info">
            <div class="container">
                <div class="company-title">
                    <h3>Profili </h3>
                </div><!--company-title end-->



                <div class="companies-list">
                    <div class="row">
                        @foreach (var p in Model)
                            {
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="company_profile_info">
                                    <div class="company-up-info">
                                        <img src="@(((Utente)p).FotoProfilo)" style="width:90px; height:90px;" alt="">
                                        <h3> @(((Utente)p).Nome) @(((Utente)p).Cognome)</h3>
                                        <ul>
                                        </ul>
                                    </div>
                                    <a href="/User/ViewProfile/@(((Utente)p).Id)" title="" class="view-more-pro">Vedi Profilo</a>
                                </div><!--company_profile_info end-->
                            </div>
                            }
                
                        
                    </div>


                </div><!--companies-list end-->


            </div>
        </section><!--companies-info end-->
        <footer>
            <div class="footy-sec mn no-margin">
                <div class="container">
                    <ul>
                        <li><a href="help-center.html" title="">Help Center</a></li>
                        <li><a href="about.html" title="">About</a></li>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title="">Community Guidelines</a></li>
                        <li><a href="#" title="">Cookies Policy</a></li>
                        <li><a href="#" title="">Career</a></li>
                        <li><a href="forum.html" title="">Forum</a></li>
                        <li><a href="#" title="">Language</a></li>
                        <li><a href="#" title="">Copyright Policy</a></li>
                    </ul>
                    <p><img src="~/img/copy-icon2.png" alt="">Copyright 2022</p>
                    <img src="~/img/Logo Progetto 5.jpg" style="width:77px; heigth:100px;" alt="">
                </div>
            </div>
        </footer>

    </div><!--theme-layout end-->



    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/popper.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/flatpickr.min.js"></script>
    <script type="text/javascript" src="~/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
</body>
</html>